* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(255, 67, 67);
}

h1 {
    color: #fff;
}

#app {
    width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

#input {
    /* flex-grow: 1; */
    outline: none;
    border: 0;
    opacity: 0.7;
    margin: 30px 0;
    width: 100%;
    height: 40px;
    padding: 15px;
    transition: 0.3s;
}

#input:hover,
#input:focus {
    opacity: 1;
    box-shadow: 0 10px 10px -10px #000;
}

.user_input {
    display: flex;
    align-items: center;
}

.btnAdd {
    height: 40px;
    margin-left: 30px;
    padding: 0px 25px;
    background-color: #f7c5c5;
    border-radius: 40px;
    border: 2px solid transparent;
    color: #ff4343;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    outline: none;
}

.btnAdd:hover,
.btnAdd:focus {
    background-color: #fff;
}

.app_todos {
    list-style: none;
}

.app_todos-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #fff;
}

.app_todos-item .delete-icon:hover {
    color: rgb(126, 0, 0);
    cursor: pointer;
    transition: color 0.2s;
}

.app_todos-item .edit-icon{
    margin-right: 10px;
}

.app_todos-item .edit-icon:hover {
    color: rgb(60, 246, 255);
    cursor: pointer;
}

.app_todos-item .text {
    padding-left: 30px;
    max-width: 90%;
    cursor: pointer;
    word-wrap: anywhere;
}

.app_todos-item .text::before {
    content: '';
    position: absolute;
    border: 1px solid white;
    left: 0;
    height: 10px;
    width: 10px;
    top: 13px;
}

.app_todos-item .text.done:before {
    background-color: lightgray;
}

.app_todos-item .text.done {
    text-decoration: line-through;
    color: #aaa;
}

.inputEditTask {
    background-color: #e53c3c;
    color: #fff;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid white;
    margin-left: 30px;
    outline: none;
    width: 80%;
}

.todos-blank {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 40px 0;
}